node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma


# Hardhat build outputs
artifacts/
cache/

# Environment secrets
.env
.env.local

# Node modules
node_modules/


/src/prisma/migrations